*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background: rgb(201, 198, 198);
}
.containner{
    display: flex;
    flex-direction: column;
    background: rgb(87, 153, 21);
    width: 50%;
    align-content: center;
    text-align: center;
    padding: 1%;
    border-radius: 5%;
    margin-left: 25%;

}
.containner img{
    width: 50%;
   margin: auto;
    border-radius: 45px 0  ;
}.containner h1{
    text-transform: uppercase;
    padding-bottom: 3%;
}
.containner input{
    padding: 5px;
    margin: 15px;
    border-radius: 15px;
    text-align: center;
    color: cadetblue;
    font-size: x-large;
    cursor: pointer;
}
.containner label{
    text-align: left;
    padding-left: 3%;
    font-size:medium;
    font-weight:900;
}
#res{
    background: cornsilk;
    border-radius: 15px;
    padding: 3%;
    font-size: x-large;
}
@media (max-width:799px) {

    body{
        background:green
    }
.containner{
    width: 100%;
    margin-left: 0;
    padding:1% 4% ;
}
.containner img{
    width: 100%;
    padding: 0%;
}
h1{
    display: none;
}
.containner label{
    font-size: 2em;
    padding: 4%;
}
.containner input{
    padding: 2%;
    background: rgb(147, 214, 216,0.7);
    margin: 5%;
    font-size: 3em;
    color: rgb(197, 27, 27);
    font-weight: bold;
}
a{
    padding-top: 4%;
    font-size: 2em;
    text-decoration: none;
}
#res{
    background: black;
    color: blanchedalmond;
    font-weight: bold;
    font-size: 1em;
}
}